nav{
    padding: 20px;
}
                             
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.a-light{
    color: #fff ;
    
}

.a-dark{
    color: #fff;
}

.nav-light{
    background-color: rgb(245,107,109) ;
}

.nav-dark{
    background-color: #903F3F ;
}

.logo{
    font-size: 25px;
    font-weight: 700;
}